---
Title: Team Foundation Server (TFS) URL parser
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        This NuGet package contains code for parsing Team Foundation Server URLs
    </p>
</div>